bin/
bower_components/
*.class
.classpath
.DS_Store
.gitattributes
.idea/
*.iml
*.jshintrc
*.launch
*.log
*/MANIFEST.MF
.metadata/
node_modules/
.project
.recommenders/
reports/
.settings/
*/.settings/
*/target/*
target/
target-grunt/
test-output/
*.versionsBackup
