/*GERAL*/
.labelsrel{
	font-weight:bold !important;
	font-size:12px !important;
}

.banner-header{
	text-align:center;
}
.font-cab-tabela{
	font-size:10px !important;	
}
.font-item{
	font-size:10px !important;	
}
.textDesc{
	font-size:12px !important;
}