/*GERAL*/
.campo-destaque{
	font-weight:bold !important;
	font-size:16px !important;
	background-color:#CDC9C9 !important;
}

#banner-header{
	background:#f28425; 
	text-align:center;
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.transparent{
	background-color: transparent !important; 
	border-color:transparent !important;
}

.zoom-icon{
	background-image: url('img-fluigicon-zoom-in.png');
	background-size: 14px;
	background-repeat: no-repeat;
	background-position: center; 
	cursor:pointer;
	width:18px;
}
.zoom-icon:focus {
 	outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}
